@model Books

@{
    ViewData["Title"] = "Books List";
}

<div>Book Name:<code>@Model.BookName</code> </div>
<div>Author Name:<code>@Model.AuthorName</code> </div>
<div>Total Copies:<code>@Model.TotalNoOfCopies</code> </div>
<div>Available Copies:<code>@Model.AvailableCopies</code> </div>




