@model MyViewModel

@{
    ViewData["Title"] = "Checkout Book";
}
<h1>Checkout Book</h1>

<form method="post" asp-controller="Checkout" asp-action="Checkout">

    <label>Book Name</label>
    <select>

        @foreach (var mybookview in Model.BookName)
        {
            <option> <code>@mybookview</code> </option>
        }

    </select>


    <label>Member Name</label>
    <select>

        @foreach (var mymemberview in Model.MemberName)
        {
            <option> <code>@mymemberview</code> </option>
        }

    </select>


    <button type="submit">Checkout</button>
</form>

