@model MyViewModel

@{
    ViewData["Title"] = "Checkout Book";
}

<h1>Checkout Book</h1>

<form method="post" asp-controller="Checkout" asp-action="Checkout">
    <label>Book Name</label>
    <select name="bookId">
        @foreach (var mybookview in Model.Books)
        {
            <option value="@mybookview.Id"> @mybookview.BookName </option>
        }
    </select>
    <label>Member Name</label>
    <select name="memberId">
        @foreach (var mymemberview in Model.Members)
        {
            <option value="@mymemberview.Id"> @mymemberview.FirstName </option>
        }
    </select>
    <button type="submit">Checkout</button>
</form>

